- name: istio.local_rate_limit
  typed_config:
    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
    type_url: type.googleapis.com/envoy.extensions.filters.http.wasm.v3.Wasm
    value:
      config:
        vm_config:
          runtime: "envoy.wasm.runtime.v8"
          code:
            local: { filename: "{{ .Vars.LocalRateLimitWasmFile }}" }
        configuration:
          "@type": "type.googleapis.com/google.protobuf.StringValue"
          value: |
            {
              "max_tokens": 20,
              "tokens_per_refill": 10,
              "refill_interval_sec": 1
            }
