- name: example_plugin
  typed_config:
    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
    type_url: type.googleapis.com/envoy.extensions.filters.http.wasm.v3.Wasm
    value:
      config:
        vm_config:
          runtime: "envoy.wasm.runtime.v8"
          code:
            local: { filename: "{{ .Vars.ExampleWasmFile }}" }
        configuration:
          "@type": "type.googleapis.com/google.protobuf.StringValue"
          value: |
            {}
