name: Postsubmit Push

on:

  push:
    branches:
    - master

jobs:

    push:
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v1

      - name: Mount bazel cache
        uses: actions/cache@v1
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel

      - name: Install bazelisk
        run: |
          curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.6.1/bazelisk-linux-amd64"
          mkdir -p "${GITHUB_WORKSPACE}/bin/"
          mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
          chmod +x "${GITHUB_WORKSPACE}/bin/bazel"

      - name: Build
        run: |
          set -eux

          SHA=$(git rev-parse HEAD)
          for target in $(bazel query ...); do
            if [[ "{$target}" == *":_wasm_"* ]]; then
              # skip wasm transition target
              continue
            fi
            if [[ "${target}" != *".wasm" ]]; then
              # Build wasm modules only
              continue
            fi
            "${GITHUB_WORKSPACE}/bin/bazel" build "${target}"
            tmp=${target#"//"}
            WASM_PATH="${tmp//:/\/}"
            tmp=${WASM_PATH%%.wasm}
            EXTENSION_NAME=$(basename ${tmp})
            mkdir -p wasm-extensions/${EXTENSION_NAME//_/-}
            mv bazel-bin/${WASM_PATH} wasm-extensions/${EXTENSION_NAME//_/-}/${SHA}.wasm

            # TODO: add precompiled module
          done

      - name: Upload Modules
        uses: GoogleCloudPlatform/github-actions/upload-cloud-storage@master
        with:
          path: wasm-extensions/
          destination: istio-ecosystem
          credentials: ${{ secrets.WASM_UPLOAD_CRED }}
